Package: com.gilshahar7.vpnchangedaction
Name: VPNChangedAction
Depends: mobilesubstrate, libactivator
Version: 1.0
Architecture: iphoneos-arm
Description: An activator action tweak for VPN state changes
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
